<header>
  <div class="container">
    <div class="header_left">
      <a
              href="{{ '/' | relative_url }}"
              class="logo_row"
      >
      <span class="logo">
  <!--      {%- include logo.svg -%}-->
         <img src="{{ "images/logo.png" | relative_url }}"/>
      </span>
<!--      <span class="logo_text">{{ site.title }}</span>-->
      </a>
    </div>
    <div class="header_right">
      <a href="#!" class="nav_ico"><img src="{{ "images/nav-icon.png" | relative_url }}" alt="nav icon"></a>
      <nav class="main_nav">
        <ul>
          <li><a href="{{ '/' | relative_url }}"
                class="nav_link"
                data-tooltip="Homepage"
                data-placement="bottom"
                data-delay="400"
          >Home</a></li>
          <li><a href="{{ 'research' | relative_url }}"
                class="nav_link"
                data-tooltip="Published works"
                data-placement="bottom"
                data-delay="400"
          >Publications</a></li>
<!--          <li><a href="{{ 'resources' | relative_url }}"-->
<!--                 class="nav_link"-->
<!--                 data-tooltip="Tools, datasets, and more"-->
<!--                 data-placement="bottom"-->
<!--                 data-delay="400"-->

<!--          >Resources</a></li>-->
          <li><a href="{{ 'team' | relative_url }}"
                 class="nav_link"
                 data-tooltip="About our team"
                 data-placement="bottom"
                 data-delay="400"

          >Team</a></li>
          <li><a href="{{ 'projects' | relative_url }}"
                 class="nav_link"
                 data-tooltip="Ongoing projects"
                 data-placement="bottom"
                 data-delay="400"

          >Projects</a></li>
          <li><a href="{{ 'contact' | relative_url }}"
                 class="nav_link"
                 data-tooltip="Email, mailing address, and location"
                 data-placement="bottom"
                 data-delay="400"

          >Contact</a></li>
        </ul>
      </nav>
    </div>

  </div>

</header>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ "js/custom.js" | relative_url }}"></script>

