<style>
  .proj {
    /*width: 555px;*/
    margin: 0px 0px 10px 0px;
    /*padding: 0px 0px 10px 0px;*/
    float: left;
  }
  .proj text {
    float: right;
    width: auto;
    font-family: sans-serif;
  }
  .proj .thumb {
    margin-top: 5px;
    margin-right: 10px;
    text-align: center;
    float: left;
    width: 250px;
    /*border-radius: 0.5em;*/
    padding: 0.15em;
    /*border: 0.1em solid #dddddd;*/
    /*box-shadow: 0 0 0.1em 0.1em;*/
    border-radius: 10px;
    border: 1px solid darkgray;
  }


</style>


<div class="section">

    <table>
        <tr>
            <td>
                <div class="proj">
                    <div class="thumb">
                        <a href="/research"><img   src="{{ '/images/deictic.png' | relative_url }}" width="100%"></a>
                    </div>
                    <div class="text">
                        <h3>
                            <a href="/research">Natural Language Interactions with Visual Analytics</a>
                        </h3>
                        <p>This project explores how principles from language pragmatics can be applied
                            to the flow of visual analytical conversations, using natural language as an input modality.
                        </p>
                    </div>
                </div>
                <div class="proj">
                    <div class="thumb">
                        <a href="/research"><img   src="{{ '/images/3.jpg' | relative_url }}" width="100%"></a>
                    </div>
                    <div class="text">
                        <h3>
                            <a href="/research">Visual text analytics for online conversations</a>
                        </h3>
                        <p>We developed visual text analytics tools and techniques for exploring and analyzing online conversations.
                        </p>
                    </div>
                </div>
                <div class="proj">
                    <div class="thumb">
                        <a href="/research"><img   src="{{ '/images/intervention2.png' | relative_url }}" width="100%"></a>
                    </div>
                    <div class="text">
                        <h3>
                            <a href="/research">User-Adaptive Information Visualization</a>
                        </h3>
                        <p>This project explores how user characteristics impacts on visualization effectiveness and how can a visualization adapt to such characterstics.
                        </p>
                    </div>
                </div>

            </td>
        </tr>
    </table>


</div>

